<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dap.etl.platform.admin.inf.repo.mysql.dao.CustDao">
    <resultMap id="custMap" type="com.dap.etl.platform.admin.inf.repo.mysql.dto.CustDTO">
        <result property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="age" column="age"/>
    </resultMap>
	
	<select id="findAll" parameterType="com.dap.etl.platform.admin.inf.repo.mysql.dto.CustDTO" resultMap="custMap">
	    select id,username,age from customer
	</select>
	
	<select id="findByName" parameterType="com.dap.etl.platform.admin.inf.repo.mysql.dto.CustDTO" resultMap="custMap">
	    select id,username,age from customer where username=#{userName}
	</select>
	
	<insert id="insertCust" parameterType="com.dap.etl.platform.admin.inf.repo.mysql.dto.CustDTO">
	    insert into customer(id,username,age) value (#{id},#{userName},#{age})
	</insert>
	
	<insert id="insertCustBatch" parameterType="java.util.List">
	   insert into customer(id,username,age) values
	   <foreach collection ="list" item="cust" index= "index" separator =",">
	     (#{cust.id},#{cust.userName},#{cust.age})
	   </foreach>
	
	</insert>
</mapper>